# Solana Network
NEXT_PUBLIC_SOLANA_NETWORK=devnet
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=Baraza

# x402 Stream Payments (optional for demo)
NEXT_PUBLIC_FACILITATOR_URL=https://x402.org/facilitator
ORGANIZER_WALLET= 6jXU6rCrqr4Ar2uyeQzsSatnGhFJkUFWVer7TGNAfEvH
# LI.FI Cross-chain Bridge
LIFI_API_KEY=YOUR_LIFI_API_KEY

# Privy (invisible wallets for M-Pesa users)
NEXT_PUBLIC_PRIVY_APP_ID=YOUR_PRIVY_APP_ID

# Africa's Talking (M-Pesa STK push)
AT_API_KEY=YOUR_AFRICAS_TALKING_KEY
AT_USERNAME=YOUR_AT_USERNAME
